---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import Hero from '../components/Hero.astro';
import Highlights from '../components/Highlights.astro';
import DiverseProductChain from '../components/DiverseProductChain.astro';
import Categories from '../components/Categories.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	layout="sidebar"
	title="Crossfit Gym Equipment | Functional Fitness Equipment | Fitness Factory"
	description="Full Effort is Full Victory! Equipment for Crossfit, Functional Training and Commercial Gym."
>
	<div class="flex min-h-screen">
		<Sidebar />
		<div class="flex-1 min-w-0 flex flex-col">
			<Hero
				title="Equipment for Crossfit | Functional Training | Commercial Gym"
				subtitle="Full Effort is Full Victory!"
			/>
			<Highlights />
			<DiverseProductChain />
			<Categories />
			<div class="flex-1"></div>
			<Footer />
		</div>
	</div>
</Layout>
